.header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80px;
  font-size: 1.3rem;
}

.nav {
  display: flex;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
}

.navList {
  display: flex;
  align-items: center;
  gap: 32px;
}


@media (max-width: 768px) {
.header {
  font-size: 0.9rem;
}
}