.title {
  padding-top: 10px;
  font-size: 1rem;
  color: var(--text-main);
  text-align: center;
}

.group {
  display: flex;
  justify-content: space-between;
  border-bottom: var(--line-weight) solid var(--line-color);
  font-size: 0.5rem;
}

.language {
  display: flex;
  align-items: center;
  color: var(--text-main);
  font-size: 0.8rem;
  margin: 5px;
}

.iconPdf {
  color: #ef4444;
  font-size: 1rem;
  text-align: center;
  align-self: center;
}

.buttons {
  display: flex;
  gap: 16px;
}

.primary,
.secondary {
  display: inline-flex;
  align-items: center;
  text-align: center;
  padding: 5px 5px;
  gap: 2px;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.25s ease;
  font-size: 0.8rem;
}

.primary:hover,
.secondary:hover {
  background: none;
  color: var(--accent);
}

.icon {
  font-size: 16px;
}
